<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PHP Test</title>
        <style>
            {% block style %}{% endblock %}
        </style>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
