{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        Login
    </h1>
    <form action="#" method="post">
        <div>
            <label>
                E-mail
                <input type="text" name="email">
            </label>
        </div>
        <div>
            <label>
                Password
                <input type="password" name="password">
            </label>
        </div>
        <button type="submit">Login</button>
    </form>
{% endblock body %}
